---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={`flex items-center ${className}`}>
  <img src="/CujiwareLetras.svg" alt="Cujiware" class="h-6 ml-2" />
</div>